{
  "name": "{{ scope }}/api",
  "private": true,
  "type": "module",
  "exports": {
    "./schema": "./src/schema.ts"
  },
  "scripts": {
    "dev": "bash scripts/dev.sh",
    "generate:schema": "tsx scripts/print-schema.ts",
    "build": "tsup",
    "start": "node dist/index.js",
    "test": "vitest run",
    "typecheck": "tsc --noEmit"
  },
  "dependencies": {
    "{{ scope }}/db": "workspace:*",
    "{{ scope }}/types": "workspace:*",
    "@hono/node-server": "{{ versions.hono_node_server }}",
    "@pothos/core": "{{ versions.pothos_core }}",
    "graphql": "{{ versions.graphql }}",
    "graphql-yoga": "{{ versions.graphql_yoga }}",
    "hono": "{{ versions.hono }}",
    "dotenv": "{{ versions.dotenv }}"
  },
  "devDependencies": {
    "@types/node": "latest",
    "tsup": "{{ versions.tsup }}",
    "tsx": "{{ versions.tsx }}",
    "typescript": "{{ versions.typescript }}",
    "vitest": "{{ versions.vitest }}"
  }
}
