// swift-tools-version: 6.0
import PackageDescription

let package = Package(
    name: "{{ swift_project_name }}",
    platforms: [.iOS(.v17)],
    targets: [
        .executableTarget(
            name: "{{ swift_project_name }}",
            path: "Sources/{{ swift_project_name }}"
        ),
        .testTarget(
            name: "{{ swift_project_name }}Tests",
            dependencies: ["{{ swift_project_name }}"],
            path: "Tests/{{ swift_project_name }}Tests"
        ),
    ]
)
