import { gql } from "@apollo/client"
import { ApolloProvider, useQuery } from "@apollo/client/react"
import { client } from "./lib/apollo"

const HEALTH_QUERY = gql`
  query Health {
    health
  }
`

interface HealthData {
  health: string
}

function AppContent() {
  const { data, loading } = useQuery<HealthData>(HEALTH_QUERY)

  return (
    <div>
      <h1>{{ project_name }}</h1>
      <p>API status: {loading ? "loading..." : data?.health ?? "error"}</p>
    </div>
  )
}

export function App() {
  return (
    <ApolloProvider client={client}>
      <AppContent />
    </ApolloProvider>
  )
}
