[project]
name = "{{ project_name }}"
version = "0.0.1"
description = ""
requires-python = ">=3.12"

[tool.uv.workspace]
members = ["apps/*"]

[tool.ruff]
line-length = 100
target-version = "py312"

[tool.ruff.lint]
select = ["E", "F", "I", "N", "UP", "B", "SIM", "TCH"]

[tool.pytest.ini_options]
testpaths = ["apps/api/tests"]
