{
  "$schema": "https://biomejs.dev/schemas/{{ versions.biomejs_biome }}/schema.json",
  "files": {
    "includes": [
      "**",
      "!**/generated",
      "!**/dist",
      "!**/.turbo",
      "!**/test-results"
    ]
  },
  "assist": { "actions": { "source": { "organizeImports": "on" } } },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true,
      "correctness": {
        "noUnusedImports": "error"
      },
      "suspicious": {
        "noExplicitAny": "error"
      }
    }
  },
  "formatter": {
    "enabled": true,
    "indentStyle": "space",
    "indentWidth": 2
  },
  "javascript": {
    "formatter": {
      "semicolons": "asNeeded"
    }
  }
}
