from datetime import UTC, datetime

from sqlmodel import Field, SQLModel


class UserBase(SQLModel):
    name: str = Field(index=True)
    email: str = Field(unique=True, index=True)


class User(UserBase, table=True):
    id: int | None = Field(default=None, primary_key=True)
    created_at: datetime = Field(default_factory=lambda: datetime.now(UTC))


class UserCreate(UserBase):
    pass


class UserPublic(UserBase):
    id: int
    created_at: datetime


class UserUpdate(SQLModel):
    name: str | None = None
    email: str | None = None
